*{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

body{
    background: rgb(255, 194, 97)
}

.container{
    display:flex;
    justify-content: center;
    align-items:center; 
    width:100%;
    height:100vh;
    gap: 2rem;
}

button{
    padding: 0.5rem 2 rem;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.5rem;
    background-color: rgb(66, 220, 28);
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

button:hover{
    background: rgb(54, 180, 23);
    color: black;
}
/*************************************
Criando estilo modal login e cadastro
**************************************/

.hide-modal{
    opacity: 0;
    visibility: hidden;
}

.show-modal{
    opacity: 1;
    visibility: visible;
}

.modal-login, .modal-register{
    position: fixed;
    top: 0;
    left: 0;
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    transition: all 350ms ease-in-out;
}